// Custom styles.

.mobileShow {
  display: none;
}
/* Smartphone Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) { 
  .mobileShow { display: inline;}
}

.mobileHide {
  display: block;
}
/* Smartphone Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .mobileHide { display: none;}
}
